@charset 'utf-8';
/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
  }
}

#calculator {
  width: 464px;
  height: 640px;
  background-color: rgb(107, 105, 102);
  border-radius: 24px;
  box-shadow: 20px 20px 50px black;

  .topBox {
    width: 464px;
    height: 200px;
    background-color: rgb(67, 66, 64);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    color: white;
    position: relative;

    .red {
      width: 30px;
      height: 30px;
      background-color: red;
      display: inline-block;
      border-radius: 50px;
      margin-left: 20px;
      margin-top: 20px;
    }

    .orange {
      width: 30px;
      height: 30px;
      background-color: orange;
      display: inline-block;
      border-radius: 50px;
      margin-left: 10px;
      margin-top: 20px;
    }

    .lightgreen {
      width: 30px;
      height: 30px;
      background-color: lightgreen;
      display: inline-block;
      border-radius: 50px;
      margin-left: 10px;
      margin-top: 20px;
    }

    #number {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: rgb(255, 255, 255);
      font: bold 100px/1 arial;
    }
  }

  .ctr {
    display: flex;
    width: 464px;
    height: 460px;
    background-color: rgb(67, 66, 64);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    .leftBox {
      width: 464px;
      height: 460px;
      border-bottom-left-radius: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        border: 1px solid black;
        width: calc(464px / 4);
        height: calc(640px / 7);

        background-color: rgb(113, 113, 111);
        padding: 30px 40px;
        text-align: center;
        font: bold 32px/1 arial;
        color: white;

        &:nth-of-type(1) {
          background-color: rgb(104, 99, 95);
        }

        &:nth-of-type(2) {
          background-color: rgb(104, 99, 95);
        }

        &:nth-of-type(3) {
          background-color: rgb(104, 99, 95);
        }

        &:nth-of-type(13) {
          width: 232px;
          border-bottom-left-radius: 24px;
        }
      }
    }

    .rightBox {
      width: 150px;
      height: 460px;
      background-color: rgb(255, 149, 12);
      border-bottom-right-radius: 24px;

      button {
        background-color: rgb(255, 149, 12);
        border: 1px solid black;
        width: calc(464px / 4);
        height: calc(645px / 7);
        text-align: center;
        padding: 30px 40px;
        font: bold 32px/1 arial;
        color: white;

        &:last-child {
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
}
